:local(.container) {
  position: relative;

  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

:local(.content) {
  width: 100%;
  height: 100%;
  overflow: auto;
}

:local(.closeButton) {
  position: absolute;

  left: 50%;
  bottom: 24px;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
}
