@font-face {
  font-family: 'PTSans';
  src: url('font/PT%20Sans_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('font/PT%20Sans_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Viga';
  src: url('font/Viga-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:local(.app) {
  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;

  font-family: PTSans;
}

:local(.app) button {
  font-family: PTSans;
}

:local(.toolbar) {
  display: flex;

  width: 100%;
  overflow: auto;

  flex-basis: 24px;
  flex-shrink: 0;

  align-items: center;
}

:local(.primaryContent) {
  display: contents; /* Safari layout fix */

  position: relative;

  flex-grow: 1;
}
