:local(.card) {
  display: block;

  position: relative;

  width: 1em;
  height: calc(1em * 1.5 /* 40:60 aspect ratio */);

  perspective: 4em;
  perspective-origin: center;
}

:local(.body),
:local(.back),
:local(.front) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

:local(.back) {
  transform: rotateY(180deg) translateZ(0.1px);
}
