:local(.desk) {
  display: block;

  width: 100%;
  height: 100%;
  overflow: hidden;

  font-size: 10vmin;
}

:local(.deskContent) {
  display: flex;

  position: relative;

  width: 100%;
  height: 100%;

  flex-direction: column;
}

:local(.topBar) {
  display: flex;

  padding: 1vmin;
  width: 100%;
  height: 50vw;
  max-height: 20vh;
  box-sizing: border-box;

  flex-grow: 0;
  flex-shrink: 0;

  box-shadow: 0 0 12px #000;
}

:local(.topBarItem) {
  display: flex;

  align-items: center;
}

:local(.cardHolder) {
  position: relative;

  width: 1em;
  height: calc(1em * 1.5 /* 40:60 aspect ratio */);
}

:local(.stackedCard) {
  position: absolute;
  left: 0;
  top: 0;
}

:local(.stock) {
  margin-right: 3vmin;

  cursor: pointer;
}

:local(.waste) :local(.stackedCard):nth-last-child(2) ~ :local(.stackedCard):nth-last-child(1) {
  left: 0.45em;
}

:local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(2) {
  left: 0.45em;
}

:local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(1) {
  left: 0.9em;
}

:local(.separator) {
  flex-grow: 1;
}

:local(.foundationPile) {
  margin-left: 3vmin;
}

:local(.main) {
  display: flex;

  position: relative;

  width: 100%;
  overflow: hidden;

  flex-grow: 1;
}

:local(.tableau) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  padding: 2vmin;
  box-sizing: border-box;
}

/* Backgrounds */

:local(.greenS) {
  display: flex;

  width: 100%;
  overflow: hidden;

  flex-grow: 1;

  justify-content: center;
  align-content: stretch;
}

:local(.greenSImageWrapper) {
  display: flex;

  width: 100%;
  max-width: 80vh;

  flex-grow: 1;
}

:local(.greenSInnerImageWrapper) {
  display: flex;

  padding: 10%;
  width: 100%;

  flex-grow: 1;
}

:local(.greenSImage) {
  display: flex;

  flex-grow: 1;

  background: center center no-repeat transparent;
  background-size: cover;
}
