:local(.desk) {
  display: block;

  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  font-size: 10vmin;
}

:local(.deskContent) {
  display: flex;

  position: relative;

  width: 100%;
  height: 100%;

  flex-direction: column;
}

:local(.main) {
  display: flex;

  position: relative;

  width: 100%;

  flex-grow: 1;
}

:local(.background) {
  display: flex;

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  flex-grow: 1;

  justify-content: center;
  align-content: stretch;
}

:local(.tableau) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  padding: 0.2em;
  box-sizing: border-box;
}

/* Backgrounds */


:local(.greenSImageWrapper) {
  display: flex;

  width: 100%;
  max-width: 8em;

  flex-grow: 1;
}

:local(.greenSInnerImageWrapper) {
  display: flex;

  padding: 10%;
  width: 100%;

  flex-grow: 1;
}

:local(.greenSImage) {
  display: flex;

  flex-grow: 1;

  background: center center no-repeat transparent;
  background-size: cover;
}

:local(.greenSImage) svg {
  width: 100%;
}

:local(.tealColors) {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #189181;
}

:local(.tealColorsGroup) {
  display: flex;

  margin: 0.3em 0;
  width: 6em;
  height: 3em;
}

:local(.tealColorsGroup) svg {
  margin: 0 0.3em;
  height: 100%;
}

@media (min-aspect-ratio: 1/1) {
  :local(.tealColors) {
    flex-direction: row;
  }

  :local(.tealColorsGroup) {
    width: 3em;
    height: 3em;
  }
}

:local(.greenSTiles),
:local(.redSTiles) {
  width: 100%;
  height: 100%;

  background: 10px 10px url('deskBackground/green-s-tile.svg') repeat transparent;
  background-size: 95px 95px;
}

:local(.redSTiles) {
  background-image: url('deskBackground/red-s-tile.svg');
}
