:local(.mobilePhoneHeader) {
  display: none;

  padding: 0 0.2em;
  height: 52px;
  flex-shrink: 0;

  justify-content: space-between;
  align-items: center;

  font-size: 10vmin;
  color: #404040;

  background: #f0f0f0;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.101251);
}

@media (max-width: 500px), (max-height: 500px) {
  :local(.isPhoneOrTablet) {
    display: flex;
  }
}

:local(.button) {
  display: flex;

  border: none;
  padding: 8px;
  width: 32px;
  height: 32px;

  justify-content: center;
  align-items: center;

  font-size: 1em;
  color: currentColor;

  background: none;

  cursor: pointer;
}

:local(.button) svg {
  width: 100%;
  height: 100%;
}

:local(.title) {
  margin: 0;

  flex-grow: 1;

  font-family: Roboto, Viga, sans-serif;;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

:local(.ios) :local(.title) {
  font-family: SF UI Text, Viga, sans-serif;
}
