:local(.topBar) {
  display: flex;

  box-sizing: border-box;
  padding: 0.1em;
  width: 100%;
  height: 5em;
  max-height: 2em;
  flex-grow: 0;
  flex-shrink: 0;

  justify-content: center;

  z-index: 1;
}

:local(.topBarContent) {
  display: flex;

  margin-right: -0.15em;
  width: 100%;
  max-width: calc(7 * (1em + 0.4em) + 0.2em);
  height: 100%;
}

:local(.topBarItem) {
  display: flex;

  align-items: center;
}

:local(.cardHolder) {
  position: relative;

  width: 1em;
  height: calc(1em * 1.5 /* 40:60 aspect ratio */);
}

:local(.stackedCard) {
  position: absolute;
  left: 0;
  top: 0;
}

:local(.stock) {
  cursor: pointer;
}

:local(.waste) {
  margin: 0 0.3em;
}

:local(.waste) :local(.stackedCard):nth-last-child(2) ~ :local(.stackedCard):nth-last-child(1) {
  left: 0.45em;
}

:local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(2) {
  left: 0.45em;
}

:local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(1) {
  left: 0.9em;
}

:local(.separator) {
  flex-grow: 1;
}

:local(.foundationPile) {
  margin: 0 0.15em;
}

:local(.topBarWithStockOnRightSide) :local(.topBarContent) {
  flex-direction: row-reverse;
  margin: 0 0 0 -0.15em;
}

:local(.topBarWithStockOnRightSide) :local(.waste) :local(.stackedCard):nth-last-child(2) ~ :local(.stackedCard):nth-last-child(1) {
  left: auto;
  right: 0.45em;
}

:local(.topBarWithStockOnRightSide) :local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(2) {
  left: auto;
  right: 0.45em;
}

:local(.topBarWithStockOnRightSide) :local(.waste) :local(.stackedCard):nth-last-child(3) ~ :local(.stackedCard):nth-last-child(1) {
  left: auto;
  right: 0.9em;
}
